body {
    --color1: #dddddd;
    --color2: #FF5555;
    --color3: #55FF55;
    --color4: #5555FF;
    --czcionka-kolor: #000000;
    background: var(--tlo-kolor);
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
}
a {
    text-decoration: none;
    color: var(--czcionka-kolor);
    
}
h1 {
    font-size: 100px;
    padding: 50px 0 0 0;
    margin: 0;
}

h3 {
    font-size: 22px;
}

nav {
    padding: 8px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.przyciski-nav-box {
    display: flex;
    flex-flow: row wrap;
}

.przyciski-nav {
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

.przyciski-nav:nth-child(even) {
    border-width: 1px;
    border-color: #000000;
    border-style: none solid none;
}

main {
    display: none;
    flex-flow: row;
    min-width: 980px; 
    width: 60%;
    min-height: 100%;
    margin: 7% auto 15% auto;
}

section {
    margin: 0 12px 0 12px;
}

#profilowe {
    width: 480px;
    height: 480px;
    border-radius: 50%;
}

.przyciski-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.przyciski {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align:center;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
}

.przyciski {
    transition: background 0.5s;
}

.przyciski:hover {
    background: transparent;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#wrapper {
    min-height: 100%;
}
footer section {
    display: flex;
    flex-flow: column;
}

#follows-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 0 1px 0 1px;
}

article {
    display: flex;
    flex-flow: row;
    text-align: left;
    justify-content: space-between;
    width: 90%;
}

.zdjecie-projektu {
    width: 490px;
    height: 330px;
}