#contact {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100%;
    width: 75%;
    margin: 5% auto 7% auto;
}
#contact-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.info-subtitle {
    margin: 0;
}
form {
    display: flex;
    flex-flow: column;
    width: 45%;
}
.fields-box {
    display: flex;
    flex-flow: row wrap;
}
#submit {
    max-height: 50px;
    max-width: 160px;
}

.field {
    display: flex;
    flex-flow: column;
    margin: 2.5% 2.5% 2.5% 0;
    width: 47.5%;
}
#message-div{
    flex-grow: 2;
}
input, select{
    margin-top: 2%;
    padding: 4%;
}
.localStorage-info {
    display: none;
}
@media screen and (max-width: 980px) {
    #contact-box {
        flex-flow: column;
    }
    form {
        width: 100%;
    }
}