#projects {
    display: none;
    flex-flow: column;
    min-height: 100%;
    width: 75%;
    margin: 5% auto 7% auto;
}

.project {
    margin: 10% 0 0 0;
}
.projects-desc {
    width: 40%;
}
.project-title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0;
}
.project-img-box {
    width: 490px;
    height: 330px;
}