#projekty {
    display: none;
    flex-flow: column;
    min-height: 100%;
    width:75%;
    margin: 7% auto 10% auto;
}

.opis-projektu {
    width: 40%;
}

.zdjecie-projektu {
    width: 490px;
    height: 330px;
}

.projekt {
    margin: 8% 0 3% 0;
}