#projects {
    display: none;
    flex-flow: column;
    min-height: 100%;
    width: 75%;
    margin: 5% auto 7% auto;
}
.project {
    margin: 0 0 8% 0;
}
.projects-desc {
    width: 40%;
}

.project-img {
    width: 490px;
}
.wpis {
    display: flex;
    flex-flow: row;
}
article {
    display: flex;
    flex-flow: row;
    text-align: left;
    justify-content: space-between;
    width: 90%;
}
@media screen and (max-width: 980px) {

    article {
        flex-flow: column;
    }
    .projects-desc {
        width: 100%;
    }
}