h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.chapter {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.admissions {
    display: flex;
    flex-flow: column;

}